{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.type == "tag"
   or page.type == "year"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title"><span class="chiaro">Chi</span><span class="hide">rag</span> <span class="chiaro">Aro</span><span class="hide">ra</span>
        <a href="https://drive.google.com/file/d/1vAokN-mMupiCG2dX1dpO-5JapBpEdKnl/view?usp=sharing" target="_blank">
        <img class="emoji" title=":speaker:" alt=":speaker:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f4e3.png" height="25" width="25">
        </a>
        </h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
