---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

    {% if site.analytics-google %}
        {% include analytics-google.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=author content="{{ site.name }}">

    {% seo %}

    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <style>
      .text-justify {
        text-align: justify;
      }
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
    </style>
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

</head>
<body>
  {% if page.category == "photos" %}
    <div class="wrapper-large">
  {% else %}
    <div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
  {% endif %}
        {% if page.tag %}
            <div class="post">
        {% else %}
            {% if page.type == "tag" or page.type == "year" %}
                <div class="page blog">
            {% elsif showHeader != true %}
                <div class="page {{ page.title | downcase }}">
            {% else %}
                <div class="{{ page.title | downcase }}">
            {% endif %}
        {% endif %}

            {{ content }}
        </div>
    </div>

    {% include icons.html %}

</body>
</html>
